<p>suppliers-form works!</p>
<form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field class="item">
            <input matInput placeholder="Company Name" formControlName="companyName" />
            @if(supplierForm.controls['companyName'].hasError('required')){
            <mat-error>Company Name is required</mat-error>
            }@if(supplierForm.controls['companyName'].hasError('minlength')){
            <mat-error>Company Name is too short</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field class="item">
            <input matInput placeholder="Contact Name" formControlName="contactName" />
            @if(supplierForm.controls['contactName'].hasError('required')){
            <mat-error>Contact Title is required</mat-error>
            }@if(supplierForm.controls['contactName'].hasError('minlength')){
            <mat-error>Contact title is too short</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field class="item">
            <input matInput placeholder="Contact Title" formControlName="contactTitle" />
        </mat-form-field>
    </div>
    <br />
    Address group
    <mat-card-subtitle>Address</mat-card-subtitle>
    <div class="container" formGroupName="address">

        <mat-form-field class="item">
            <input matInput placeholder="Street" formControlName="street" />
        </mat-form-field>
    </div>
    <div class="container" formGroupName="address">

        <mat-form-field class="item"><input matInput placeholder="City" formControlName="city" /></mat-form-field>
        <mat-form-field class="item"><input matInput placeholder="Region" formControlName="region" /></mat-form-field>

        <mat-form-field class="item"><input matInput placeholder="Country" formControlName="country" /></mat-form-field>
    </div>
    <div class="container" formGroupName="address">
        <mat-form-field class="item"><input matInput placeholder="Postal Code"
                formControlName="postalCode" /></mat-form-field>
        <mat-form-field class="item"><input matInput placeholder="Phone" formControlName="phone" /></mat-form-field>
    </div>
    <mat-card-actions>
        <button mat-raised-button (click)="(onBack($event))">
            back
        </button>
        <div class="width-full"></div>
        <button mat-raised-button color="primary" type="submit" [disabled]="supplierForm.invalid" (click)="onSubmit()">
            Save
        </button>
    </mat-card-actions>
</form>